
<div class="footer">
    <ul class="footer-list">
        <li>
            <a href="">
                <div>
                <i class="fab fa-facebook-f"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                <i class="fab fa-google-plus-g"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                <i class="fab fa-linkedin-in"></i>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                <i class="fab fa-pinterest-p"></i>
                </div>
            </a>
        </li>
    </ul>
    <h1  class="footer-h1">© 2019 beingeorge, All Rights Reserved.</h1>
</div>